{
    "env": {
        "browser": true
    },
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],

    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "@typescript-eslint/ban-ts-ignore": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/restrict-plus-operands": "error",
        "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
        "max-classes-per-file": ["error", 12],
        "max-statements-per-line": ["error", { "max": 2 }],
        "no-param-reassign": "warn",
        "no-underscore-dangle": "off",
        "padding-line-between-statements": ["error", { "blankLine": "never", "prev": "if", "next": "*" }],
        "prettier/prettier": "warn",
        "no-restricted-globals": "warn"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "@typescript-eslint/explicit-function-return-type": "off",
                "@typescript-eslint/no-var-requires": "off",
                "import/no-extraneous-dependencies": "off"
            }
        },
        {
            "files": ["./tests"],
            "env": {
                "mocha": true
            }
        }
    ]
}
